In [1]:
import pandas as pd
import json

In [2]:
link_df = "../data/bancosaudemental.csv"
delimiter = ';'
encoding = 'ISO-8859-1'
df_promental = pd.read_csv(link_df, delimiter=delimiter, encoding=encoding, index_col='SAMPLEID')

In [3]:
df_promental.head()

,SC1,SC1_1,SC2,SC2A,SC3,SC3A,SC7,SC8_1,SC8_2,SC9,...,notreat12_notsevere,notreat12_anypredisposing,notreat12_service,qids_none,qids_mild,qids_mod,qids_sev,qids_vsev,qids_sevverysev,_merge
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
3201000001-01,32,1,4,4.0,5,1.0,2,3,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
3201000002-01,31,1,8,4.0,5,1.0,3,3,3,5,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
3201000003-01,60,1,9,4.0,1,NaN,2,4,4,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,matched (3)
3201000004-01,34,1,5,4.0,5,1.0,3,3,2,3,...,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)
3201000005-01,84,2,41,4.0,4,5.0,3,3,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matched (3)

In [4]:
train_columns = json.load(open("../data/train_columns.json"))
train_columns

['SC1',
 'SC1_1',
 'SC2',
 'SC2A',
 'SC3',
 'SC3A',
 'SC7',
 'SC8_1',
 'SC8_2',
 'SC9',
 'SC19',
 'SC20',
 'SC20A',
 'SC20_1',
 'SC20_2',
 'SC20_3',
 'SC21',
 'SC22',
 'SC23',
 'SC24',
 'SC25',
 'SC25A',
 'SC26',
 'SC26A',
 'SC26B',
 'SC27A',
 'SC27B',
 'SC27C',
 'SC27D',
 'SC27E',
 'SC27F',
 'SC28',
 'SC29',
 'SC29A',
 'SC30',
 'SC31',
 'SC32',
 'SC33',
 'SC33_1',
 'SC33_2',
 'SC33_3',
 'SC34',
 'SC35',
 'D1',
 'D1A',
 'D12',
 'D12A',
 'D13',
 'D16',
 'D17',
 'D18',
 'D19',
 'D20',
 'D21',
 'D22',
 'D22A',
 'D22B',
 'D22B1',
 'D23',
 'D23A01',
 'D24A',
 'D24B',
 'D24C',
 'D24D',
 'D24E',
 'D24F',
 'D25',
 'D26A',
 'D26E',
 'D26G',
 'D26I',
 'D26J',
 'D26L',
 'D26P',
 'D26R',
 'D26S',
 'D26T',
 'D26U',
 'D26W',
 'D26X',
 'D26Y',
 'D26Z',
 'D26AA',
 'D26BB',
 'D26CC',
 'D26FF',
 'D26GG',
 'D26HH',
 'D26II',
 'D27',
 'D27A',
 'D28',
 'D28A',
 'D29',
 'D29A',
 'D29D',
 'D37D',
 'D37E',
 'D38',
 'D72',
 'D87_1']

In [5]:
train_columns.append('dsm_mddh')
df_atoti = df_promental[train_columns]
df_atoti.head()

,SC1,SC1_1,SC2,SC2A,SC3,SC3A,SC7,SC8_1,SC8_2,SC9,...,D28A,D29,D29A,D29D,D37D,D37E,D38,D72,D87_1,dsm_mddh
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
3201000001-01,32,1,4,4.0,5,1.0,2,3,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5
3201000002-01,31,1,8,4.0,5,1.0,3,3,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5
3201000003-01,60,1,9,4.0,1,NaN,2,4,4,1,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1
3201000004-01,34,1,5,4.0,5,1.0,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5
3201000005-01,84,2,41,4.0,4,5.0,3,3,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5

In [6]:
import atoti as tt
session = tt.Session(user_content_storage="./content")

Welcome to atoti 0.6.6!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [7]:
session_table = session.read_pandas(df_atoti, keys=["SAMPLEID"], hierarchized_columns=["SC1", "SC1_1", "dsm_mddh"], table_name="Promental")

In [8]:
session_table.head()

,SC1,SC1_1,SC2,SC2A,SC3,SC3A,SC7,SC8_1,SC8_2,SC9,...,D28A,D29,D29A,D29D,D37D,D37E,D38,D72,D87_1,dsm_mddh
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
3201000001-01,32,1,4,4.0,5,1.0,2,3,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5
3201000002-01,31,1,8,4.0,5,1.0,3,3,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5
3201000003-01,60,1,9,4.0,1,NaN,2,4,4,1,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1
3201000004-01,34,1,5,4.0,5,1.0,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5
3201000005-01,84,2,41,4.0,4,5.0,3,3,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5

In [9]:
cube = session.create_cube(session_table)

In [10]:
session.link()

Open the notebook in JupyterLab with the atoti extension enabled to see this link.